<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ .Site.Title }}</title>

<!-- Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PW6SB9H75R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PW6SB9H75R');
</script>

{{ if .Site.Params.serviceWorker }}
<script>
if (navigator.serviceWorker) {
  navigator.serviceWorker.register("/sw.js", { scope: "/" });
}
</script>
{{ end }}

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Site.Title }}" />

<link
  rel="preload"
  href="{{ "feather-icons/feather-sprite.svg" | relURL }}"
  as="image"
/>

<!-- Theme CSS files -->
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{{ "css/feather-icon.css" | relURL }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{{ "css/footer.css" | relURL }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{{ "css/resume.css" | relURL }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{{ "css/site-header.css" | relURL }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{{ "css/site.css" | relURL }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{{ "picocss/pico.blue.css" | relURL }}"
/>

{{ range .Site.Params.customCSS }}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{{ . | relURL }}"
/>
{{ end }}
